{% raw %}{% extends "testapp/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<h1>TestApp app</h1>

	<h2>CRUD REST example</h2>
	<p>go to strings/ for CRUD REST example</p>
	<p>inspired by https://medium.com/the-andela-way/creating-a-django-api-using-django-rest-framework-apiview-b365dca53c1d</p>

	<h2>Celery Periodic Task</h2>
	<p>show celery workers</p>
	<code>celery -A {% endraw %}{{cookiecutter.project_slug}}{% raw %} worker -l INFO</code>
	</br>
	<p>start celery beat</p>
	<code>celery -A {% endraw %}{{cookiecutter.project_slug}}{% raw %} beat -l INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler</code>	
	<p>configure periodic task via admin interface at http://<PROJECT_URL>/admin/django_celery_beat/</p>
	<p>custom task: testapp.tasks.test_heartbeat</p>
	</br>
{% endblock content %}{% endraw %}
